<% provide(:title, "Edit brand") %>
<%= link_to "Back to Profile Page", current_brand %>
<h2>Update your profile</h2>
<h1><%= @brand.name %></h1>

<div class="row">
  <div class="span6 offset1">
    <%= form_for @brand, :html => {:multipart => true} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>
        <label>My Avatar</label>
        <%= image_tag @brand.avatar_url(:thumb) if @brand.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </p>
      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
    <h2>Account Settings</h2>
    <%= link_to "Edit account settings", edit_brand_registration_path %>
    <p>Name: <%= @brand.name %></p>
    <p>Email: <%= @brand.email %></p>
    <p>Website: <%= @brand.website %></p>
    <p>Hometown: <%= @brand.hometown %></p>
    <p>State: <%= @brand.homestate %></p>
    <p>Password: ******** </p>
    <%= link_to "Edit account settings", edit_brand_registration_path %>
  </div>
  <div class="span4">
    <!--  Original formulation
    <% if @brand.videos.any? %>
      <h2>Videos</h2>
      <% for video in @brand.videos %>
        <div class="edit-video-div">
          <%= button_to "delete", video, method: :delete,
                                     data: { confirm: "You sure?" },
                                     class: "btn btn-primary" %>
          <%= video.link_html %>
        </div>
      <% end %>
    <% end %>
    -->
    <% if @brand.videos.any? %>
      <h2>Videos</h2>
      <table class="table table-bordered table-striped" id="sortable">
        <tbody>
          <% @brand.videos.each do |video| %>
            <tr data-item-id=<%= "#{video.id}" %> class="item">
              <td>
                <%= video.link_html %>
              </td>
              <td>
                <%= button_to "delete", video, method: :delete,
                                     data: { confirm: "You sure?" },
                                     class: "btn btn-primary pull-right" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <h2>Add a new video</h2>
    <%= render 'shared/video_form' %>
  </div>
</div>