<% provide(:title, @brand.name) %>
<div class="row">
  <div class="span12">
    <p><%= link_to "back to list", brands_path %></p>
    <p><% if brand_signed_in? %>
      <% if @brand.id == current_brand.id %>
        <%= link_to "Edit Profile", edit_brand_path(current_brand) %>
      <% end %>
    <% end %></p>
  </div>
</div>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @brand.name %>
      </h1>
    </section>
    <%= image_tag @brand.avatar_url(:thumb) if @brand.avatar? %>
  </aside>

  <div class="span8">
    <section>
      <h3><%= @brand.website %></h3>
      <h3><%= @brand.hometown %>, <%= @brand.homestate %></h3>
      <p><%= @brand.description %></p>
    </section>
    <section>
      <% if @brand.videos.any? %>
        <h3><%= @brand.videos.count %></h3>
        <% for video in @brand.videos %>
          <%= video.link_html %>
        <% end %>
      <% end %>
    </section>
  </div>
  
</div>